/* shared styles */

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.text-light-gray{
    color:#727272;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    color:#131313;
}
.btn-primary{
    border-radius: 8px;
    background-color: #ff900e;
    border:none;
    color:#fff;
    padding:20px 25px;
    font-size: 1.2rem;
    cursor: pointer;
}
header{
    background: rgba(255, 144, 14, .10);
    padding:50px 240px;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 25px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color:#424242;
}
/* banner styes */
.banner-content{
    max-width:800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size:4rem;
    font-weight: 700;
    color:#131313;
}
.banner-description{
    color:#727272;

}
.banner img{
    width:100%;
    margin-top:20px;
}
/* features section */
.features{
    margin-top: 130px;
    display: flex;
    gap:100px;
}
.features .section-title{
    border-left:5px solid #ff900e;
    padding-left:20px;
}
.features-content .card{
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom:20px;
    padding:30px;
}
.ten-years-badge{
    border-radius:8px;
    background:#ff900e;
    color:#fff;
    width:342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size:4rem;
    font-weight: 700;
    margin:0px;
}
.ten-years-badge p{
    font-size:1.5rem;
    margin-top: 0px;
}
.features-img img{
    height:90%;
    margin-left:90px;
}

/* team section */

main{
max-width:1440px;
margin: 80px auto;
}
.teams-container{
    display: flex;
    align-items: center;
   
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.teams-content{
    padding-left:70px;
    padding-right:70px;
}
.teams-title{
    font-size:2.8rem;
}
.teams-title .quick-list{
   
    font-weight: 500;
}
.text-features{
    color:#ff900e;
    font-weight: 700;
}
/* facts styles */
.card-facts-container{
    display: flex;
    justify-content: space-around;
}
.card-facts-container .card{
    border-radius: 8px;
    border:1px solid #ff900e;
    text-align: center; 
    padding:30px;
}
.card-facts-container .card-stats{
    font-size:2.8rem;
    color:#424242;
    margin-top:10px;
    margin-bottom: 10px;
}
.card-facts-container .card-title{
    font-weight: 600;
    font-size:1.25rem;
    margin-top:5px;
}

/* sponsor styles */
.sponsor{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
    align-items: center;
    gap:20px;
}
.hide{
    display: none;
}
/* footer styles */
.footer-contain{
    background-color: rgba(255, 144, 14, .10);
    max-width: 1140px;
    padding:50px;
    text-align: center;
    margin:0 auto;
    
}


/* responsive styles */
@media screen and (max-width:576px){
    header{
        padding:20px;
    }
    .card-facts-container,
    nav,
    .features,
    .teams-container
    {
        flex-direction: column;
         align-items: normal; 
    }
    .teams-img-container{
        grid-template-columns: 1fr;
        gap:.5rem;
        
    }
    .banner-title{
        font-size: 2rem;

    }
    .features-img img{
        width:100%;
        margin-left: 0px;
    }
    .ten-years-badge{
        width:300px;
        position: static;
    }
    .teams-container{
        margin:0px;
    }
    .teams-content{
        /* max-width: 400px; */
        padding:10px 30px 10px 0px;
    }
    .card-facts-container .card{
        padding:5px;
        /* width:50%; */
    }
    .card-facts-container{
        gap:10px;
    }
    .sponsor-img-container img{
        width:165px;
    }
    .sponsor-img-container{
        flex-direction: column;
    }
    .footer-contain  {
        padding: 5px;
        width:300px;
    }
  
   
   
}
/* For tablet or medium devices */
@media  screen and (min-width:576px) and (max-width:992px){

    nav,.features{
        flex-direction: column;

    }
    header{
        padding:50px;
    }
    .teams-container{
        flex-direction: column-reverse;
        align-items: normal;
        
      
    }
     .teams-content{
        /* max-width: 600px;*/
        margin: 50px;

    } 
    .card-facts-container{
        gap:10px;
    }
    .sponsor-img-container{
        flex-direction: column;
    }
   
}
